EXPO_PUBLIC_SUPABASE_URL=https://dxshfhtxxwqtckfdbuap.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImR4c2hmaHR4eHdxdGNrZmRidWFwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjkwODIyNDMsImV4cCI6MjA4NDY1ODI0M30.Co1pMUVUsm3gKqvGQ0nvyZIx6IN_lNc5BhZac4Qgdcs